<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission To Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
        </div>

        <!-- Mars News Listings -->
        <div class="row">
            <div class="col-md-12">
                <h2> Latest Mars News</h2>
                <h3 class="heading">{{mars.news_title}} </h3>
                <p>{{mars.news_p}}</p>
                <img src="{{ mars.featured_image_url }}" alt="Images">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2> Featured Mars Images</h2>
                <p>{{mars.news_p}}</p>
                <img src="{{ mars.featured_image_url }}" alt="Mars Images">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2> Mars Facts</h2>
                {{mars.mars_table | safe}}
            </div>
        </div>
        <div>
            <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
            {% for item in mars.image_urls %}
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <img src="{{ mars.image_dict }}">
                        <p>{{mars.title}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</body>

</html>